/*******************************************************************************************************
This file serves as host for every custom CSS modification trough the HR Tech London 2015 event website 
********************************************************************************************************/

/*Mobile Wrapper*/
#mobile-wrapper {
	max-width: 520px;
	min-width: 320px;
	margin: 0 auto;
}

/*Header Definitions*/
#header-background {
	width: 100%;
	min-height: 415px;
	background: url(../img/mobile/header-bg.jpg) no-repeat center;
	background-size: cover;
}
#header-container {
	margin-top: 65px;
	padding: 50px 0;
	text-align: center;
}
#HRTech-logo {
	padding: 0 30px 40px 30px;
	margin: 0 auto;
}
#gettickets-button {
	position: relative;
}
#header-dates {
	margin-top: 10px;
}
/*End of Header Definitions*/

/*General class definitions*/
.glegoo-text {
	font-family: 'Glegoo', serif;
}
.ubuntu-text {
	font-family: 'Ubuntu', sans-serif;
}
.blue {
	color: #16aae1;
}
.white {
	color: #fff;
}
a {
	color: #000;
}
a:hover {
	text-decoration: none;
}
.whitespace {
	height: 50px;
}
.img-responsive {  
	width: 100%;
	height: auto;
	
}  
/*End General class definitions*/

/*Keynotes Section*/
#apply-voucher-button {
	color: #fff;
	background: #16aae1;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 0 auto;
	margin-top: 40px;
	max-width: 300px;
	max-height: 60px;
	text-align: center;
	font-size: 15px;
}

@media (max-width:983px) {
#keynotes-container {
	max-width: 655px;
	margin-right: 0;
}
#keynotes-headline {
	/*position: relative;
	right: 50px;*/
}
}
/*End Keynotes Section*/
/*Apply for Voucher Section*/
#voucher-main-container {
	min-height: 485px;
	background: url(../img/desktop/voucher-bg.jpg) no-repeat;
	background-size: cover;
	padding-left: 20px;
	padding-right: 20px;
	
}
#voucher-container {
	margin: 0 auto;
	max-width: 320px;
}
#voucher-headline-container {
	padding: 10px 0 10px 0;
	float: none;
	margin: 0 auto;
	text-align: center;
}
#voucher-headline {
	font-size: 37px;
	font-weight: bolder;
}
#voucher-divider {
	border-top: 1px solid #fff;
	height: 20px;
	width: 100%;
	margin: 0 auto;
}
#voucher-subheadline {
	font-size: 20px;
	text-align: left;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10px;
}
.voucherform-element {
	height: 40px;
	width: 100%;
	background: #fff;
	color: #000;
	text-align: center;
	font-size: 15px;
	margin-bottom: 20px;
}
*::-webkit-input-placeholder {
 color:#000;
}
*:-moz-placeholder {
 color:#000;
}
*:-ms-input-placeholder { /* IE10+ */
 color:#000;
}
#voucher-submitbutton {
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	background: #2d6687;
}

/*End Apply for Voucher Section*/
/*Black Footer Section*/
#black-footer-maincontainer {
	background: #101010;
	min-height: 180px;
}
#black-footer-container {
	margin: 0 auto;
	padding: 0px 25px;
	max-width: 320px;
}
#blackfooter-social-container {
	padding: 20px 0 0 0;
	color: #878686;
}
#blackfooter-social-icon-table {
	position: relative;
	left: -5px;
}
.blackfooter-social-icon {
	margin: 0 50px 0 0;
	width: 30px;
	height: 30px;
}
#facebook-icon {
	background: url(../img/facebook-icon-black.png) no-repeat;
	background-size: contain;
}
#facebook-icon:hover {
	background: url(../img/facebook-icon-blue.png) no-repeat;
}
#twitter-icon {
	background: url(../img/twitter-icon-black.png) no-repeat;
	background-size: contain;
}
#twitter-icon:hover {
	background: url(../img/twitter-icon-blue.png) no-repeat;
}
#linkedin-icon {
	background: url(../img/linkedin-icon-black.png) no-repeat;
	background-size: contain;
}
#linkedin-icon:hover {
	background: url(../img/linkedin-icon-blue.png) no-repeat;
}
#flickr-icon {
	background: url(../img/flickr-icon-black.png) no-repeat;
	background-size: contain;
}
#flickr-icon:hover {
	background: url(../img/flickr-icon-pink.png) no-repeat;
}
#blackfooter-newsletter-container {
	border-top: 1px solid #878686;
	padding-top: 20px;
	margin-top: 20px;
	color: #878686;
	min-height: 130px;
	font-size: 15px;
}
#newsletter-signupfield {
	width: 100%;
	border: 1px solid #878686;
	background: #101010;
	background: url(../img/mail-icon.png) left no-repeat;
	padding: 3px 35px;
}
#newsletter-signupfield::-webkit-input-placeholder {
 color:#878686;
 padding-left:20px;
}
#newsletter-signupfield:-moz-placeholder {
 color:#878686;
 padding-left:20px;
}
#newsletter-signupfield:-ms-input-placeholder { /* IE10+ */
color:#878686;
 padding-left:20px;
}
#blackfooter-buttons-container {
	border-top: 1px solid #878686;
	border-bottom: 1px solid #878686;
	padding: 20px 0px 20px 0px;
	max-height: 120px;
	max-width: 100%;
}
#apply-voucher-footerbutton, #register-now-footerbutton {
	color: #fff;
	background: #16aae1;
	text-transform: uppercase;
	padding: 5px 0 5px 0;
	margin: 0 auto;
	margin-bottom: 15px;
	max-width: 100%;
	max-height: 60px;
	text-align: center;
	font-size: 15px;
}
#blackfooter-contactinfo-container {
	padding: 20px 0px 20px 0px;
	color: #878686;
}
#blackfooter-contactinfo {
	font-size: 12px;
	position: relative;
	top: -10px;
}
.fa-phone, fa-envelope {
	font-size: 18px;
	position: relative;
	top: 3px;
}

@media (max-width:991px) {
#black-footer-maincontainer {
	display: block;
}
}
/*End Black Footer Section*/
/*Grey Footer Section*/
#greyfooter-main-container {
	min-height: 200px;
	width: 100%;
	background: #242424;
}
#greyfooter-container {
	margin: 0 auto;
	max-width: 320px;
	padding: 0px 25px 0px 25px;
}
#greyfooter-logo-container {
	padding: 30px 0 20px 0;
	border-bottom: 1px solid #878686;
	min-height: 95px;
	width: 100%;
	float: left;
	position: relative;
	top: -5px;
}
#greyfooter-copyright-container {
	color: #878686;
	margin: 20px auto 15px auto;
	position: relative;
	font-size: 12px;
	max-width: 320px;
	float: left;
}
#greyfooter-terms-container {
	color: #878686;
	font-size: 12px;
	position: relative;
	max-width: 320px;
	float: left;
}	 
/*End Grey Footer Section*/
